- @page_title = t '.page_title'

%h3= t '.stats_title'

%table.zebra-striped
  %tr
    %th= t '.stats.column.users'
    %td= User.count(:all)
  %tr
    %th= t '.stats.column.vehicles'
    %td= Vehicle.count(:all)

