- @page_title = t '.page_title'

%h3= t '.stats_title'

%table.table.table-striped
  - if can? :manage, User
    %tr
      %th= t '.stats.column.users'
      %td= @users_total
  %tr
    %th= t '.stats.column.vehicles'
    %td= @vehicles_total

