= form_for([:admin, @vehicle], :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'partials/form_errors', :locals => { :resource => @vehicle, :locale_scope => 'admin.vehicles.form' }

  .control-group
    = f.label :imei, t('.field.imei'), :class => 'control-label'
    .controls
      - if can? :manage, @vehicle
        = f.text_field :imei, :autofocus => true
      - else
        %span.uneditable-input= @vehicle.imei

  .control-group
    = f.label :user, t('.field.tracker_name'), :class => 'control-label'
    .controls
      - if can? :manage, @vehicle
        = select 'vehicle', 'tracker_model_id', tracker_models_list
      - else
        %span.uneditable-input= @vehicle.tracker_name

  - form_field f, :name, :text_field, :required => true

  .control-group
    = f.label :type_id, t('.field.vehicle_type'), :class => 'control-label'
    .controls
      = select 'vehicle', 'vehicle_type_id', VehicleType.all.collect { |vehicle_type| [vehicle_type.title, vehicle_type.id] }

  - form_field f, :reg_number, :text_field
  - form_field(f, :distance_multiplier, :text_field) if can? :manage, @vehicle
  - form_field f, :fuel_norm, :text_field

  .control-group
    = f.label :fuel_calc_method, t('.field.fuel_calc_method'), :class => 'control-label'
    .controls
      = select 'vehicle', 'fuel_calc_method', [[t('.fuel_calc_method.distance'), Vehicle::FUEL_CALC_BY_DISTANCE], [t('.fuel_calc_method.mhours'), Vehicle::FUEL_CALC_BY_MHOURS]]

  - form_field f, :fuel_tank, :text_field
  - form_field f, :fuel_tank2, :text_field

  - form_field(f, :min_parking_time, :text_field) if can? :manage, @vehicle

  - if can? :manage, @vehicle
    .control-group
      = f.label :user, t('.field.user'), :class => 'control-label'
      .controls
        = select 'vehicle', 'user_id', User.clients.recently.collect { |user| [user.login, user.id] }

  - form_field f, :description, :text_area, :rows => 2
  - form_field(f, :comment, :text_area, :rows => 2) if can? :manage, @vehicle
  - form_field(f, :debt, :text_field) if can? :manage, @vehicle

  .form-actions
    = f.submit t('.button.' + (@vehicle.new_record? ? 'create' : 'update')), :class => 'btn btn-primary'
    = link_to t('.button.back'), (@vehicle.new_record? ? admin_vehicles_path : admin_vehicle_path(@vehicle)), :class => 'btn'
