- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.details'), admin_vehicle_path

= form_for([:admin, @vehicle], :url => calibration_save_admin_vehicle_path(@vehicle), :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'partials/form_errors', :locals => { :resource => @vehicle, :locale_scope => 'admin.vehicles.calibration' }

  - form_field f, :calibration_table, :text_area, :rows => 15
  - form_field f, :calibration_table2, :text_area, :rows => 15

  .form-actions
    = f.submit t('.button.save'), :class => 'btn btn-primary'
    = link_to t('.button.back'), admin_vehicle_path(@vehicle), :class => 'btn'