- @page_title = t '.page_title'

%table.bordered-table.zebra-striped
  %thead
    %tr
      %th= t '.column.imei'
      %th= t '.column.reg_number'
      %th= t '.column.owner'

  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= link_to vehicle.imei, admin_vehicle_path(vehicle)
        %td= vehicle.reg_number
        %td= link_to vehicle.user.login, admin_user_path(vehicle.user)
