- @page_title = t '.page_title'

- content_for :sidebar_actions do
  - if can? :manage, Vehicle
    %li= link_to t('.action.add_vehicle'), new_admin_vehicle_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t '.column.name'
      %th= t '.column.reg_number'
      - if can? :manage, Vehicle
        %th= t '.column.imei'
      - if can? :manage, User
        %th= t '.column.owner'
      %th= t '.column.created_at'

  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= link_to vehicle.name, admin_vehicle_path(vehicle)
        %td= vehicle.reg_number
        - if can? :manage, Vehicle
          %td= vehicle.imei
        - if can? :manage, User
          %td= link_to vehicle.user.login, admin_user_path(vehicle.user)
        %td= l vehicle.created_at.localtime
