- @page_title = t '.page_title'

- content_for :sidebar_actions do
  - if can? :manage, Vehicle
    %li= link_to t('.action.add_vehicle'), new_admin_vehicle_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      - sortable_column 'name', t(".column.name"), @sort_state
      - sortable_column 'reg_number', t(".column.reg_number"), @sort_state
      - sortable_column 'imei', t(".column.imei"), @sort_state if can? :manage, Vehicle
      - if can? :manage, Vehicle
        %th= t(".column.tracker_name")
      - sortable_column 'owner', t(".column.owner"), @sort_state if can? :manage, User
      - sortable_column 'created_at', t(".column.created_at"), @sort_state

  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= link_to vehicle.name, reports_admin_vehicle_path(vehicle)
        %td= vehicle.reg_number
        - if can? :manage, Vehicle
          %td= vehicle.imei
        - if can? :manage, Vehicle
          %td= vehicle.tracker_name
        - if can? :manage, User
          %td= link_to vehicle.user.login, admin_user_path(vehicle.user)
        %td= l vehicle.created_at.localtime

= will_paginate @vehicles
