- @page_title = t '.page_title', :reg_number => @vehicle.reg_number

- content_for :sidebar_actions do
  %li= link_to t('.action.details'), admin_vehicle_path
  %li= link_to t('.action.reports'), reports_admin_vehicle_path

- content_for :sidebar do
  %h4= t '.movements_list'
  %ul.movements-list
    - @movements.each do |movement|
      %li= link_to timeframe(movement), "#", 'data-info' => movement_info(movement).to_json, :class => (movement.parking ? 'ico-parking' : 'ico-moving')

= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{@api_key}"
#map-canvas{ :style => "width: 100%; height: 0px;" }

