- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.reports'), reports_admin_vehicle_path
  %li= link_to t('.action.day_report'), day_report_admin_vehicle_path(:date => @selected_date)
  %li= link_to t('.action.details'), admin_vehicle_path

- content_for :sidebar do
  %h4= t '.date_picker'
  %ul
    %li= link_to @selected_date, '#', :id => 'selectedDate', 'data-datepicker' => 'datepicker'

  %h4= t '.movements_list'
  - if @movements.count > 0 or @show_last_point
    %ul.movements-list
      - if @show_last_point
        %li= link_to t('.action.monitor'), '#map-canvas', :class => 'ico-monitor'
      - if @last_point
        %li= link_to t('.action.last_point'), '#map-canvas', 'data-info' => last_point_info(@last_point, t('.last_point.title')).to_json,
          :class => "ico-last-point #{@show_last_point ? '' : 'ico-hidden'}"
      - if @movements.count > 0
        %li= link_to t('.action.show_all'), '#map-canvas', :class => 'ico-show-all'
        %li= link_to t('.action.hide_all'), '#map-canvas', :class => 'ico-hide-all'
      - @movements.each do |movement|
        %li= link_to timeframe(movement), "#map-canvas", 'data-info' => movement_info(movement, @vehicle.id).to_json, 'data-id' => movement._id,
          :class => (movement.parking ? 'ico-parking' : 'ico-moving') + ' movement-info'
  - else
    = t('.no_data')

= javascript_tag "jsLocaleKeys = #{Hash[*@js_locale_keys.collect{ |key| [key, t('.movement.' + key)] }.flatten].to_json}"
= javascript_tag "vehicleIcon = 'vehicle_#{@vehicle.vehicle_type.code}'"
= javascript_tag "vehicleId = #{@vehicle.id}"
= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{@api_key}"
= javascript_include_tag "extensions/yandex-maps"
#map-canvas{ :style => "width: 100%; height: 0px;", :name => 'map-canvas' }

