- @page_title = t '.page_title'

- content_for :sidebar do
  %h4= t '.vehicles_list'
  - if @vehicles.count > 0
    %ul.vehicles-list
      %li= link_to t('.action.monitor'), '#map-canvas', :class => 'ico-monitor'
      - @vehicles.each do |vehicle|
        - last_point = vehicle.last_point
        - if last_point
          - point_info = last_point_info(last_point, vehicle.title, day_report_admin_vehicle_path(vehicle)).to_json
          %li= link_to vehicle.name, '#map-canvas', :class => 'ico-vehicle', 'data-info' => point_info, 'data-icon' => "vehicle_#{vehicle.vehicle_type.code}", 'data-id' => vehicle.id
        - else
          %li
            %span.ico-vehicle= vehicle.name
  - else
    = t('.no_data')


= javascript_include_tag "//api-maps.yandex.ru/1.1/index.xml?key=#{@api_key}"
= javascript_include_tag "extensions/yandex-maps"
#map-canvas{ :style => "width: 100%; height: 0px;", :name => 'map-canvas' }
