- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.map'), map_admin_vehicle_path
  %li= link_to t('.action.details'), admin_vehicle_path

- if @reports.blank?
  = t('.no_reports')
- else
  %table.table.table-bordered.table-striped
    %thead
      %tr
      - %w{ map date parking movement parking_time movement_time distance fuel }.each do |column_name|
        %th= t ".column.#{column_name}"

    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to t('.action.map_for_date'), map_admin_vehicle_path(:date => report.date_human)
          %td= report.date_human
          %td= report.parking_count
          %td= report.movement_count
          %td= duration_human(report.parking_time)
          %td= duration_human(report.movement_time)
          %td= distance_human(report.distance)
          %td -