- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.map'), map_admin_vehicle_path
  %li= link_to t('.action.details'), admin_vehicle_path

- content_for :sidebar do
  %h4= t '.month'
  %ul
    - @months.each do |month|
      %li= link_to month[:name], reports_admin_vehicle_path(:date => month[:date])

- if @reports.blank?
  = t('.no_reports')
- else

  %h3= t '.header.stats'
  %table.table.table-bordered.table-striped
    %tr
      %th{ :width => '35%' }= t '.stats.movements'
      %td{ :width => '15%' }= @reports_summary[:movement_count]
      %th{ :width => '35%' }= t '.stats.movements_duration'
      %td{ :width => '15%' }= duration_human(@reports_summary[:movement_time])
    %tr
      %th= t '.stats.parking'
      %td= @reports_summary[:parking_count]
      %th= t '.stats.parking_duration'
      %td= duration_human(@reports_summary[:parking_time])
    %tr
      %th= t '.stats.distance'
      %td= decimal_human(@reports_summary[:distance].to_f / 1000)
      %th= t '.stats.fuel'
      %td= decimal_human(@reports_summary[:fuel_norm].to_f / 1000)
    - if @vehicle.fuel_sensor
      %tr
        %th= t '.stats.refuels'
        %td= decimal_human(@reports_summary[:fuel_added].to_f) + ' / ' + decimal_human(@reports_summary[:fuel_stolen].to_f)
        %th= t '.stats.fuel_used'
        %td= decimal_human(@reports_summary[:fuel_used])

  %h3= t '.header.list_by_days'
  %table.table.table-bordered.table-striped
    %thead
      %tr
      - %w{ date parking movement movement_time distance fuel fuel_norm_fact refuels map }.each do |column_name|
        - next if 'fuel' == column_name and @vehicle.fuel_sensor
        - next if %w{ fuel_norm_fact refuels }.include?(column_name) and !@vehicle.fuel_sensor
        - if %w{ movement_time fuel_norm_fact refuels }.include?(column_name)
          %th{ :colspan => 2 }= t ".column.#{column_name}"
        - else
          %th= t ".column.#{column_name}"

    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to report.date_human, day_report_admin_vehicle_path(:date => report.date_human)
          %td= report.parking_count
          %td= report.movement_count
          %td= duration_human(report.parking_time)
          %td= duration_human(report.movement_time)
          %td= decimal_human(report.distance.to_f / 1000)
          - if @vehicle.fuel_sensor
            %td= decimal_human(report.fuel_norm.to_f / 1000)
            %td= decimal_human(report.fuel_used.to_f)
            %td= decimal_human(report.fuel_added.to_f)
            %td= decimal_human(report.fuel_stolen.to_f)
          - else
            %td= decimal_human(report.fuel_norm.to_f / 1000)
          %td= link_to t('.action.map_for_date'), map_admin_vehicle_path(:date => report.date_human)