- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.reports'), reports_admin_vehicle_path(@vehicle)
  %li= link_to t('.action.map'), map_admin_vehicle_path(@vehicle)

%form.form-horizontal
  - %w{ imei tracker_name name reg_number fuel_norm fuel_tank fuel_tank2 }.each do |field_name|
    - if !@vehicle.send(field_name).blank?
      .control-group
        %label.control-label= t('admin.vehicles.form.field.' + field_name)
        .controls
          %span.uneditable-input= @vehicle.send(field_name)

  - if can? :manage, @vehicle
    .control-group
      %label.control-label= t('admin.vehicles.form.field.user')
      .controls
        %span.uneditable-input= @vehicle.user.login

  - if !@vehicle.description.blank?
    .control-group
      %label.control-label= t('admin.vehicles.form.field.description')
      .controls
        %span.uneditable-input= simple_format @vehicle.description

  .form-actions
    - if can? :edit, @vehicle
      = link_to t('.button.edit'), edit_admin_vehicle_path(@vehicle), :class => 'btn btn-primary'
    = link_to t('.button.back'), admin_vehicles_path, :class => 'btn'
    - if can? :destroy, @vehicle
      = link_to t('.button.delete'), admin_vehicle_path(@vehicle), :class => 'btn btn-danger', :method => :delete, 'data-confirm' => t('.button.confirm_delete')
