- @page_title = t '.page_title', :vehicle_title => @vehicle.title

- content_for :sidebar_actions do
  %li= link_to t('.action.reports'), reports_admin_vehicle_path(@vehicle)
  %li= link_to t('.action.map'), map_admin_vehicle_path(@vehicle)
  - if can? :manage, @vehicle
    %li= link_to t('.action.calibration'), calibration_admin_vehicle_path(@vehicle)

%form.form-horizontal
  - %w{ name vehicle_type tracker_name imei fuel_sensor reg_number distance_multiplier fuel_norm fuel_tank fuel_tank2 drivers }.each do |field_name|
    - next if %w{ imei tracker_name fuel_sensor }.include?(field_name) and !can?(:manage, @vehicle)
    - if !@vehicle.send(field_name).blank?
      .control-group
        %label.control-label= t('admin.vehicles.form.field.' + field_name)
        .controls
          %span.uneditable-input
            - if 'fuel_sensor' == field_name
              - if can?(:manage, @vehicle)
                = link_to "#{@vehicle.fuel_sensor.code} (#{@vehicle.fuel_sensor.fuel_sensor_model.title})", admin_fuel_sensor_path(@vehicle.fuel_sensor)
              - else
                = @vehicle.fuel_sensor.fuel_sensor_model.title
            - elsif 'imei' == field_name
              = link_to(image_tag('icons/application-monitor.png'), { :controller => 'admin/tools', :action => 'packets_monitor', :imei => @vehicle.imei })
              = @vehicle.imei
            - elsif 'vehicle_type' == field_name
              = @vehicle.vehicle_type.title
            - elsif 'drivers' == field_name
              = @vehicle.drivers.collect{ |driver| driver.name }.join(', ')
            - else
              = @vehicle.send(field_name)

  - readonly_field(t('admin.vehicles.form.field.min_parking_time'), @vehicle.min_parking_time) if can?(:manage, @vehicle) and !@vehicle.min_parking_time.blank?
  - if can?(:manage, @vehicle) and @vehicle.sim_card
    - readonly_field(t('admin.vehicles.form.field.sim_card'), link_to(number_to_phone(@vehicle.sim_card.phone), admin_sim_card_path(@vehicle.sim_card)))
  - readonly_field(t('admin.vehicles.form.field.user'), link_to(@vehicle.user.login, admin_user_path(@vehicle.user))) if can? :manage, @vehicle
  - readonly_field(t('admin.vehicles.form.field.description'), simple_format(@vehicle.description)) if !@vehicle.description.blank?
  - readonly_field(t('admin.vehicles.form.field.comment'), simple_format(@vehicle.comment)) if can?(:manage, @vehicle) and !@vehicle.comment.blank?
  - readonly_field(t('admin.vehicles.form.field.debt'), @vehicle.debt) if can?(:manage, @vehicle) and !@vehicle.debt.zero?
  - readonly_field(t('admin.vehicles.form.field.retranslate'), @vehicle.retranslate) if can?(:manage, @vehicle) and @vehicle.retranslate

  .form-actions
    - if can? :edit, @vehicle
      = link_to t('.button.edit'), edit_admin_vehicle_path(@vehicle), :class => 'btn btn-primary'
    = link_to t('.button.back'), admin_vehicles_path, :class => 'btn'
    - if can? :destroy, @vehicle
      = link_to t('.button.clear_data'), clear_admin_vehicle_path(@vehicle), :class => 'btn'
      = link_to t('.button.delete'), admin_vehicle_path(@vehicle), :class => 'btn btn-danger', :method => :delete, 'data-confirm' => t('.button.confirm_delete')
