- @page_title = t '.page_title', :reg_number => @vehicle.reg_number

%form
  - %w{ imei reg_number }.each do |field_name|
    .clearfix
      %label= t('admin.vehicles.form.field.' + field_name)
      .input
        %span.uneditable-input= @vehicle.send(field_name)

  .clearfix
    %label= t('admin.vehicles.form.field.user')
    .input
      %span.uneditable-input= @vehicle.user.login

  .actions
    = link_to t('.button.back'), admin_vehicles_path, :class => 'btn primary'
    = link_to t('.button.edit'), edit_admin_vehicle_path(@vehicle), :class => 'btn'
