- @page_title = t '.page_title'

- content_for :sidebar_actions do
  - if can? :manage, FuelSensor
    %li= link_to t('.action.add_fuel_sensor'), new_admin_fuel_sensor_path

= will_paginate @fuel_sensors

%table.table.table-bordered.table-striped
  %thead
    %tr
      - sortable_column 'code', t(".column.code"), @sort_state
      - sortable_column 'fuel_sensor_model_id', t(".column.fuel_sensor_model"), @sort_state
      %th= t(".column.vehicle")
      - sortable_column 'comments', t(".column.comments"), @sort_state
      - sortable_column 'created_at', t(".column.created_at"), @sort_state

  %tbody
    - @fuel_sensors.each do |fuel_sensor|
      %tr
        %td= link_to fuel_sensor.code, admin_fuel_sensor_path(fuel_sensor)
        %td= fuel_sensor.model
        %td= fuel_sensor.vehicle ? link_to(fuel_sensor.vehicle.title, admin_vehicle_path(fuel_sensor.vehicle)) : ''
        %td= fuel_sensor.comments
        %td= l fuel_sensor.created_at.localtime

= will_paginate @fuel_sensors