- @page_title = t '.page_title'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{ :width => 50 }= t '.column.status'
      %th= t '.column.daemon'

  %tbody
    - @daemons.each do |daemon|
      %tr
        %td.icon= image_tag "icons/#{daemon['status'] ? 'accept' : 'cross'}.png", :class => 'inline-icon', :alt => ''
        %td= daemon['name']
