- @page_title = t '.page_title'

- if @way_points
  - content_for :sidebar do
    %h4= t '.packets_list'
    %ul
      - @way_points.each do |way_point|
        %li= link_to(way_point._id, "#packet-#{way_point._id}")

= form_tag({}, :class => 'form-horizontal') do

  .control-group
    %label.control-label= t '.form.imei'
    .controls
      = text_field_tag :imei, params[:imei], :autofocus => true

  .control-group
    %label.control-label= t '.form.tags_filter'
    .controls
      = text_field_tag :tags_filter, params[:tags_filter]

  .form-actions
    = submit_tag(t('.form.request'), :class => 'btn btn-primary')
    = link_to(t('.form.reset'), url_for(:action => 'packets_monitor'), :class => 'btn')

- if @way_points
  - @way_points.each do |way_point|
    %p
      %a{ :name => "packet-#{way_point._id}", :href => 'javascript:void(0);' }
      = t('.packet_title', :id => way_point._id, :time => Time.at(way_point.timestamp).to_formatted_s(:date_time_full), :imei => way_point.imei)
      - if way_point.latitude?
        %br
        = link_to t('.map_link'), "http://www.openstreetmap.org/?mlat=#{way_point.latitude}&mlon=#{way_point.longitude}&zoom=15", :target => "_blank"
    %table.table.table-striped
      - way_point.attributes.keys.sort.each do |attr|
        - if @tags_filter.blank? or @tags_filter.include?(attr)
          %tr
            %th{ :width => '15%' }= attr
            %td= way_point.send(attr)
