= form_for([:admin, @user]) do |f|
  = render :partial => 'partials/form_errors', :locals => { :resource => @user, :locale_scope => 'admin.users.form' }

  .clearfix
    = f.label :login, t('.field.login')
    .input
      - if @user.new_record?
        = f.text_field :login, :required => true
      - else
        %span.uneditable-input= @user.login

  - form_field f, :name, :text_field
  - form_field f, :email, :email_field
  - form_field f, :password, :password_field
  - form_field f, :password_confirmation, :password_field

  - unless @profile
    .clearfix
      = f.label :role, t('.field.role')
      .input
        = f.select :role, options_for_select(User::ROLES.collect{ |role| [t('.field.role_' + role[0]), role[1]] }, { :selected => @user.role || User::ROLE_CLIENT })

  - if @profile
    = hidden_field_tag :profile, true

  - form_field f, :contact_name, :text_field
  - form_field f, :phone, :text_field
  - form_field f, :additional_info, :text_area, :rows => 2
  - if can? :manage, @user
    - form_field f, :comment, :text_area, :rows => 2

  .actions
    = f.submit t('.button.' + (@user.new_record? ? 'create' : 'update')), :class => 'btn primary'
    - if !@profile
      = link_to t('.button.back'), admin_users_path, :class => 'btn'
