= form_for([:admin, @user]) do |f|
  = render :partial => 'partials/form_errors', :locals => { :resource => @user, :locale_scope => 'admin.users.form' }

  .clearfix
    = f.label :login, t('.field.login')
    .input
      - if @user.new_record?
        = f.text_field :login
      - else
        %span.uneditable-input= @user.login

  .clearfix
    = f.label :name, t('.field.name')
    .input
      = f.text_field :name

  .clearfix
    = f.label :email, t('.field.email')
    .input
      = f.email_field :email

  .clearfix
    = f.label :password, t('.field.password')
    .input
      = f.password_field :password

  .clearfix
    = f.label :password_confirmation, t('.field.password_confirmation')
    .input
      = f.password_field :password_confirmation

  - unless @profile
    .clearfix
      = f.label :role, t('.field.role')
      .input
        = f.select :role, options_for_select(User::ROLES.collect{ |role| [t('.field.role_' + role[0]), role[1]] }, { :selected => @user.role || User::ROLE_CLIENT })

  - if @profile
    = hidden_field_tag :profile, true

  .actions
    = f.submit t('.button.' + (@user.new_record? ? 'create' : 'update')), :class => 'btn primary'
    - if !@profile
      = link_to t('.button.back'), admin_users_path, :class => 'btn'
