= form_for([:admin, @user]) do |f|
  - if @user.errors.any?
    .alert-message.block-message.error
      - @user.errors.messages.each do |field, messages|
        %p
          %strong= t('.field.' + field.to_s)
        %ul
          - messages.each do |message|
            %li= message

  .clearfix
    = f.label :login, t('.field.login')
    .input
      - if @user.new_record?
        = f.text_field :login
      - else
        %span.uneditable-input= @user.login

  .clearfix
    = f.label :name, t('.field.name')
    .input
      = f.text_field :name

  .clearfix
    = f.label :email, t('.field.email')
    .input
      = f.email_field :email

  .clearfix
    = f.label :password, t('.field.password')
    .input
      = f.password_field :password

  .clearfix
    = f.label :password_confirmation, t('.field.password_confirmation')
    .input
      = f.password_field :password_confirmation

  .actions
    = f.submit t('.button.' + (@user.new_record? ? 'create' : 'update')), :class => 'btn primary'
    = link_to t('.button.back'), admin_users_path, :class => 'btn'
    - unless @user.new_record?
      = link_to t('.button.delete'), admin_users_path, :method => :delete, :class => 'btn danger'
