= form_for([:admin, @user], :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'partials/form_errors', :locals => { :resource => @user, :locale_scope => 'admin.users.form' }

  .control-group
    = f.label :login, t('.field.login'), :class => 'control-label'
    .controls
      - if @user.new_record?
        = f.text_field :login, :required => true
      - else
        %span.uneditable-input= @user.login

  - form_field f, :name, :text_field
  - form_field f, :email, :email_field
  - form_field f, :password, :password_field
  - form_field f, :password_confirmation, :password_field

  - unless @profile
    .control-group
      = f.label :role, t('.field.role'), :class => 'control-label'
      .controls
        = f.select :role, options_for_select([[t('.field.role_client'), User::ROLE_CLIENT], [t('.field.role_admin'), User::ROLE_ADMIN]], { :selected => @user.role || User::ROLE_CLIENT })

  - if @profile
    = hidden_field_tag :profile, true

  - unless @user.user?
    - form_field f, :contact_name, :text_field
    - form_field f, :phone, :text_field

  - form_field f, :additional_info, :text_area, :rows => 2
  - if can? :manage, @user
    - form_field f, :comment, :text_area, :rows => 2

  .form-actions
    = f.submit t('.button.' + (@user.new_record? ? 'create' : 'update')), :class => 'btn btn-primary'
    - if !@profile
      = link_to t('.button.back'), admin_users_path, :class => 'btn'
