- @page_title = t '.page_title'

- content_for :sidebar_actions do
  %li= link_to t('.action.add_user'), new_admin_user_path 

%table.bordered-table.zebra-striped
  %thead
    %tr
      %th #
      %th= t '.column.login'
      %th= t '.column.name'
      %th= t '.column.email'
      %th= t '.column.cars'

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= link_to user.login, admin_user_path(user)
        %td= user.name
        %td= mail_to user.email
        %td= user.vehicles.count
