- @page_title = t '.page_title'

- content_for :sidebar_actions do
  %li= link_to t('.action.add_user'), new_admin_user_path

%table.bordered-table.zebra-striped
  %thead
    %tr
      %th #
      - %w{ login name email cars created_at }.each do |column_name|
        %th= t ".column.#{column_name}"

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td
          - if user.locked
            = image_tag "icons/lock.png", :class => 'inline-icon', :title => t('.hint.locked')
          - if user.admin?
            = image_tag "icons/star.png", :class => 'inline-icon', :title => t('.hint.admin')
          = link_to user.login, admin_user_path(user)
        %td= user.name
        %td= mail_to user.email
        %td= user.vehicles.count
        %td= l user.created_at.localtime
