.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{ 'data-toggle' => 'modal', :href => '#about-box' }= t 'project.title'
      %ul.nav
        - @menu.each do |menu|
          %li{ :class => (menu[:name] == @menu_section) ? 'active' : '' }= link_to t('menu.' + menu[:name]), menu[:link]
      - if @show_search
        %form.pull-left
          %input{ :type => 'text', :placeholder => t('menu.search') }

      - if user_signed_in?
        %p.navbar-text.pull-right= raw t('menu.logged_in', :login => link_to(current_user.login, admin_profile_path))
      - else
        .pull-right
          %ul.nav
            %li= link_to t('menu.back_to_site'), AppConfig.host.site_url

#about-box.modal.hide.fade.in
  .modal-header
    %a.close{ 'data-dismiss' => 'modal' } ×
    %h3= t 'project.title'
  .modal-body
    %p= t 'about_box.intro'
    %p
      E-mail:
      = mail_to AppConfig.support.email
    - unless AppConfig.support.phone.blank?
      %p= t('about_box.phone_support', :phone => AppConfig.support.phone)
    %p= t 'project.copyright'
  .modal-footer
    %a.btn.btn-primary{ 'data-dissmiss' => 'modal' }= t 'about_box.close'