!!!
%html
  = render 'layouts/head'

  %body{ :class => page_class }
    = render 'layouts/topbar'

    .container-fluid
      .row-fluid
        .span3= render 'layouts/sidebar'
        .span9
          .content
            .page-header
              %h1= @page_title
            = render :partial => 'layouts/flash', :locals => { :flash => flash }
            = yield
