!!!
%html
  = render 'layouts/head'

  %body
    = render 'layouts/topbar'

    .container
      .row
        .span8.offset4
          .page-header
            %h1= @page_title
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield
